$cm-prev: #cdcdcd;
$cm-next: #dadada;
$c-red: #df1721;

.calendar {
  width: 300px;
  &__wrapper {
    margin-top: 8px;
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    padding: 24px 13px 16px;
    background: #fff;
  }
  &__top {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
  }
  &__button {
    position: relative;
    width: 20px;
    height: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &--prev {
      background-image: url('../../icons/arrow-prev.svg');
    }
    &--next {
      background-image: url('../../icons/arrow-next.svg');
    }
  }
  &__head {
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-content: space-between;
    text-align: center;
    margin-top: 17px;
  }
  &__date {
    font-weight: bold;
    font-size: 16px;
  }
  &__body {
    @extend .calendar__head;
    grid-gap: 5px;
    padding-top: 20px;
    border-top: 1px solid $cm-prev;
  }
  &__cell {
    width: 30px;
    height: 30px;
    text-transform: capitalize;
    color: #000;
    display: grid;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    &--current {
      background-color: $c-red;
      color: #fff;
    }
    &--chosen {
      border: 1px solid $c-red;
    }
    &--prev {
      color: $cm-prev;
    }
    &--next {
      color: $cm-next;
    }
  }
}
