$c-gray: #8b8b8b;

.notifications {
  &__container {
    display: grid;
    grid-gap: 4px;
    width: 300px;
    padding: 24px 16px;
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
  }
  &__title {
    margin: 0;
  }
  &__subtitle {
    margin-top: 4px;
    color: $c-gray;
  }
  &__author {
    display: flex;
    align-items: center;
    &-icon {
      margin-top: 4px;
      border-radius: 50%;
      width: 17px;
      height: 17px;
    }
    &-date {
      margin-left: 10px;
      color: $c-gray;
    }
  }
  &__more {
    margin: 0;
    text-align: center;
    margin-top: 24px;
    cursor: pointer;
    &-text {
      font-weight: bold;
    }
  }
  &__status {
    color: #df1721;
    text-transform: uppercase;
  }
  &__item {
    background: #f8f8f8;
    border-radius: 3px;
    padding: 12px 9px;
  }
}
